<%
   base_url = request.url
   if request.path != '/'
       base_url = base_url.gsub(request.path, '')
   end
%>

<link rel="stylesheet" href="<%= base_url %>/soonmf2/style.css" />

    <div id="wrapper">
      <div id="content">
        <h1>Smarket</h1>
        <p id="o">Esta página está en</p>
        <h2>Construccion</h2>
        
      </div>
    </div>