       <div class="login">
          <div class="wrap">
				<ul class="breadcrumb breadcrumb__t"><%= link_to "Home", root_path, {:style => 'background:#f7f7f7'} %>  / Cómo Comprar </ul>

				    <div class="cont span_2_of_about">
				       <h3>Cómo comprar un producto</h3>
				       <p>Pasos para comprar un producto:
				       <br>1. Buscar el producto que se necesita.
				       <br>2. Una vez encontrado dicho producto se selecciona para la compra.
				       <br>3. Se elige el medio de pago de dicho producto.
				       <br>4. Coordina la entrega del producto con el vendedor.
				       <br>5. Una vez realizada la compra del producto avisanos para concretar satisfactoriamente la transacción.
			       	   </p>

				       <h3>Cómo participar en una subasta</h3>
				       <p>Una vez encontrado un producto dentro de una subasta, haz clic en 'Pujar'.
				       <br>Luego debes ingresar una cantidad mayor a la última puja hecha en ese producto.
					   <br>Después debes hacer clic en 'Confirmar' para pujar por dicho producto.
				       <br>Si alguien realiza una oferta mayor a la que tu pujaste, te lo haremos saber mediante un e-mail.
				       <br>En el caso que ganes la subasta, te lo haremos saber mediante un e-mail.
				       <h3>Cómo publicar una necesidad</h3>
					   <p>Primero debes seleccionar la categoría en la cual pertenece el producto necesitado.
				       <br>Luego debes ingresar los detalles y especificaciones que deseas que tenga el producto y tambien el precio máximo a pagar por él.
					   <br>Después debes hacer clic en 'Confirmar' para publicar dicha necesidad.
				       <br>Si alguien realiza una oferta para tu producto, te lo haremos saber mediante un e-mail.
				       <br>Tienes la opción para cancelar o aceptar las ofertas que vas recibiendo.
				       </p>
		   </div>
		   <!-- Add fancyBox main JS and CSS files -->
		<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
		<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
           </div>
		   <div class="clear"></div>	
		  </div>
	</div>	
   </div> 