       <div class="login">
          <div class="wrap">
				<ul class="breadcrumb breadcrumb__t"><%= link_to "Home", root_path, {:style => 'background:#f7f7f7'} %>  / Cómo Vender </ul>

				    <div class="cont span_2_of_about">
				       <h3>Cómo vender un producto</h3>
				       <p>Primero debes seleccionar la categoría en la cual pertenece tu producto a ofertar.
				       <br>Luego debes ingresar los detalles del producto, ya sea su precio, nombre y resumen del producto.
					   <br>Después debes hacer clic en 'Confirmar' para ofertar dicho producto.
				       <br>Si alguien realiza una compra de tu producto, te lo haremos saber mediante un e-mail.
				       </p>
					   <h3>Cómo subastar un producto</h3>
				       <p>Primero debes seleccionar la categoría en la cual pertenece tu producto a subastar.
				       <br>Luego debes ingresar los detalles del producto, ya sea su precio base, nombre y resumen del producto.
				       <br>Tambien se debe seleccionar el tiempo de duración de la subasta.
					   <br>Después debes hacer clic en 'Subastar' para subastar dicho producto.
				       <br>Si alguien realiza una puja de tu producto, te lo haremos saber mediante un e-mail.
				       <br>Al finalizar la subasta, te enviaremos un e-mail con el nombre del usuario ganador y el precio por que cual pujó.
				       </p>
				    
		   </div>
		   <!-- Add fancyBox main JS and CSS files -->
		<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
		<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
           </div>
		   <div class="clear"></div>	
		  </div>
	</div>	
   </div> 