       <div class="login">
          <div class="wrap">
				<ul class="breadcrumb breadcrumb__t"><%= link_to "Home", root_path, {:style => 'background:#f7f7f7'} %>  / Políticas de privacidad</ul>

				    <div class="cont span_2_of_about">
				       <h3>Políticas de privacidad</h3>
				       <br>
				       <h3>Derechos de acceso, cancelación y rectificación de la información personal</h3>
				       <p>
				       	Los usuarios tienen reconocidos y podrán ejercitar los derechos de acceder, cancelar y actualizar su Información Personal, incluyendo su dirección de e-mail, así como a oponerse al tratamiento de la misma y a ser informado de las cesiones llevadas a cabo, todo ello de conformidad a lo dispuesto en la normativa aplicable. Los usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de la Información Personal facilitada, y se comprometen a mantenerla debidamente actualizada.
						Una vez inscrito en Smarket, el usuario podrá revisar y cambiar la información que nos ha enviado durante el proceso de inscripción incluyendo:
						el Seudónimo y dirección de correo electrónico. Sin perjuicio de los cambios que realice, Smarket conservará la Información Personal anterior por motivos de seguridad y control del fraude.
						la información de la inscripción como: compañía, domicilio, ciudad, región, código postal, número principal de teléfono, número secundario de teléfono, número de fax, correo electrónico, etc.
						la clave.
						En determinados casos, mantendremos en nuestros archivos Información Personal que nos hayas pedido que retiremos, y ello con la finalidad de resolver disputas o reclamaciones, detectar problemas o incidencias y solucionarlos, y dar cumplimiento a lo dispuesto en los Términos y Condiciones Generales por un período de tiempo determinado por la ley. En cualquier caso, la Información Personal de un usuario no será inmediatamente retirada de nuestros archivos por motivos legales y técnicos, incluyendo sistemas de soportes de seguridad. Por tanto, no se debe esperar que toda la Información Personal sea definitivamente borrada de nuestras bases de datos.
						Los usuarios deben actualizar su Información Personal periódicamente conforme vaya cambiando para que los otros usuarios puedan ubicarlos cuando realicen una operación. Para hacer cualquier modificación en la información que suministrada en el momento de la Inscripción, se debe ingresar en la sección Mi Smarket y hacer clic en Mis Datos.
						Smarket podrá modificar en cualquier momento los términos y condiciones de estas Políticas de Privacidad y confidencialidad y/o las prácticas de envío de e-mails. Si decidimos introducir algún cambio material a nuestras Políticas de Privacidad, te notificaremos publicando una versión actualizada de las Políticas en esta sección o mediante el envío de un e-mail o informándolo en la página principal u otras secciones del sitio para mantenerte actualizado de los cambios realizados.
						Si hacemos cambios materiales en la forma que tu Información Personal es administrada te notificaremos por e-mail para que puedas tomar una decisión informada respecto si aceptas o no que tu Información Personal sea utilizada de esa forma. Si no aceptas esos términos, en ese caso quedará disuelto el vínculo contractual y tu Información Personal no será usada de otra forma que la que fue informada al momento de recabarse.
				       </p>
				       <br>
				       <h3>Uso que hacemos de la información</h3>
				       <p>
				       	Para suministrar un excelente servicio y para que los usuarios puedan realizar operaciones en forma ágil y segura, Smarket requiere cierta información de carácter personal, incluyendo dirección de e-mail. La recolección de información nos permite ofrecer a los usuarios servicios y funcionalidades que se adecuen mejor a sus necesidades y personalizar nuestros servicios para hacer que sus experiencias con Smarket sean lo más cómodas posible. La Información Personal que recabamos tiene las siguientes finalidades:
						Ayudar al comprador y vendedor a entrar en contacto directo en la oportunidad que corresponda según la modalidad de la compra. En este caso, Smarket suministrará a los interesados sus datos personales (nombre, teléfonos, localidad y correo electrónico), a través de correo electrónico o a través del sitio. La información así conocida por el comprador o el vendedor, sólo podrá ser utilizada a efectos de concluir la operación originada en Smarket y no deberá ser empleada por ninguno de ellos con fines publicitarios o promocionales u otras actividades no relacionadas con Smarket, salvo la expresa autorización del usuario.
						Desarrollar estudios internos sobre los intereses, comportamientos y demografía de los usuarios para comprender mejor sus necesidades e intereses y ofrecer mejores servicios o proveerles información relacionada.
						Mejorar nuestras iniciativas comerciales y promocionales y analizar las páginas visitadas las búsquedas realizadas por los usuarios, para mejorar nuestra oferta de contenidos y artículos, personalizar dichos contenidos, su presentación y servicios.
						Enviar información o mensajes por e-mail sobre nuevos servicios, mostrar publicidad o promociones, banners, de interés para nuestros usuarios, noticias sobre Smarket, además de la información expresamente autorizada en la sección de preferencias. Si el usuario lo prefiere, puede solicitar que lo excluyan de las listas para el envío de información promocional o publicitaria. Por favor aprende a hacerlo la sección "Cambio de preferencias de e-mail" abajo.
						Los ganadores de las Promociones y/o concursos realizados por Smarket autorizan expresamente a difundir sus nombres, datos personales e imágenes y los de sus familias, por los medios y en las formas que consideren convenientes, con fines publicitarios y/o promocionales, sin derecho a compensación alguna.
						Compartir la información Personal (incluyendo dirección de e-mail) con los proveedores de servicios o las empresas de "outsourcing" que contribuyan a mejorar o facilitar las operaciones a través de Smarket, como (sin limitarse a) servicios de transporte, medios de pago, seguros o intermediarios en la gestión de pagos, call centers o programas de fidelidad, entre otros. Smarket velará porque se cumplan ciertos estándares, mediante la firma de acuerdos o convenios cuyo objeto sea la privacidad de los datos personales de nuestros usuarios. No obstante, Smarket no se hace responsable por el uso indebido de la Información Personal del usuario que hagan estas compañías o sitios de Internet. En algunos casos, estos proveedores de servicios serán quienes recojan información directamente del usuario (por ejemplo si les solicitamos que realicen encuestas o estudios). En tales casos, podrá recibir una notificación acerca de la participación de un proveedor de servicios en tales actividades, y quedará a discreción del usuario toda la información que quiera brindarle y los usos adicionales que los proveedores decidan hacer. En caso de que facilites, por propia iniciativa información adicional a dichos prestadores de servicios directamente, tales Prestadores usarán esta información conforme a sus propias políticas de privacidad. Si decidimos revelar o compartir Información Persona con terceros que no son proveedores de servicios o empresas afiliadas o relacionadas con Smarket, requeriremos tu consentimiento.

						Entre los proveedores de servicios que recogen información directamente del usuario se encuentra Google Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos ("Google"). Mediante el uso de "cookies" (ver apartado sobre "Cookies" más adelante), Google obtiene cierta información sobre la actividad de los usuarios de Smarket y sus direcciones IP, que es directamente transmitida y archivada por Google en los servidores de Estados Unidos. Google usará esta información por cuenta de Smarket con el propósito de analizar y confeccionar informes sobre la actividad de los usuarios en Internet, con miras a mejorar los servicios prestados por nuestro sitio web. Google podrá transmitir dicha información a terceros cuando así se lo requiera la normativa aplicable, o cuando dichos terceros procesen la información por cuenta de Google. El usuario consiente expresamente el tratamiento de su información por Google en la forma y para los fines aquí indicados.

						Suministrar la información personal de los usuarios a las entidades que intervengan en la resolución de disputas entre los mismos, tales como: Compañías de Seguros, Amigables Componedores o Tribunales de Arbitraje o tribunales competentes para solucionar tales disputas. 
				       </p>
				       <br>
				       <h3>Confidencialidad de la información</h3>
				       <p>
				       	Una vez inscrito en su sitio Web, Smarket no venderá, alquilará o compartirá la Información Personal excepto en las formas establecidas en estas políticas. Sin perjuicio de ello, el usuario consiente en forma expresa que Smarket transfiera total o parcialmente la Información Personal a cualquiera de las sociedades controladas, controlantes y/o vinculadas con Smarket, a cualquier título y en el momento, forma y condiciones que estime pertinentes. Haremos todo lo que esté a nuestro alcance para proteger la privacidad de la información. Puede suceder que en virtud de órdenes judiciales, o de regulaciones legales, nos veamos compelidos a revelar información a las autoridades o terceras partes bajo ciertas circunstancias, o bien en casos que terceras partes puedan interceptar o acceder a cierta información o transmisiones de datos en cuyo caso Smarket no responderá por la información que sea revelada.
				       </p>
				       <br>
				       <h3>Menores de Edad</h3>
				       <p>
				       	Nuestros servicios sólo están disponibles para aquellas personas que tengan capacidad legal para contratar. Por lo tanto, aquellos que no cumplan con esta condición deberán abstenerse de suministrar información personal para ser incluida en nuestras bases de datos. Sin embargo, pueden hacerlo a través de los padres o tutores.
				       </p>
				       <br>
				       <h3>El uso de la información por otros usuarios</h3>
				       <p>
				       	Para facilitar la interacción entre todos los miembros de la comunidad de Smarket, nuestro servicio permite un acceso limitado a ciertos datos de contacto del resto de usuarios, tales como Nombre de usuario, Teléfonos, Ciudad y dirección de correo electrónico.
						Los usuarios sólo podrán utilizar la Información Personal de otros usuarios obtenida en el sitio para: (a) comunicaciones relacionadas con Smarket que no constituyan comunicaciones comerciales no solicitadas, (b) utilizar servicios ofrecidos en Smarket (por ejemplo: depósito, seguros, envío o transporte y reclamaciones sobre fraude), y (c) cualquier otra finalidad a la que el usuario correspondiente consienta expresamente una vez le hayan sido comunicadas previamente la información legalmente requerida.
						Bajo ninguna circunstancia, se debe comunicar Información Personal o dirección de correo electrónico de otro usuario a ningún tercero sin nuestro consentimiento y el del usuario afectado. No se debe agregar a la agenda de direcciones de correo electrónico (física o electrónica) los datos de ningún usuario de Smarket, ni siquiera los datos de quienes hayan adquirido algún artículo ofrecido en Smarket, sin que medie el consentimiento expreso de tal usuario.
				       </p>
				        
							
		   </div>
		   <!-- Add fancyBox main JS and CSS files -->
		<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
		<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
           </div>
		   <div class="clear"></div>	
		  </div>
	</div>	
   </div> 