      <div class="login">
          <div class="wrap">
				<ul class="breadcrumb breadcrumb__t"><%= link_to "Home", root_path, {:style => 'background:#f7f7f7'} %>  / Mis datos </ul>

				    <div class="cont span_2_of_about">
				       <h3>Cómo registrarme en Smarket</h3>

				       <h4>Registrarme</h4>
				       <p> Para registrarte en Smarket, unicamente debes rellenar el formulario de 
				       registro, donde se pide información para poder publicar las ofertas, las publicaciones de necesidades y subastas.
				       </p>

				       <h4>Cómo cancelar mi cuenta</h4>
				       <p> Para cancelar o eliminar la cuenta es necesario que se cumplan los siguientes requisitos:
				       <br>No tener productos en una subasta.
				       <br>No tener pujas actuales en una subasta.
				       <br>No haber ofertado para una necesidad.
				       <br> Al haber eliminado la cuenta los productos necesitados se eliminan y las ofertas a dicho productos son canceladas.
   
				       <h4>Cómo ser premium</h4>
				       <p>Para ser premium es necesario pagar una tarifa ya sea mensual, semestral o anual, la cual les da distintos beneficios como el porcentaje de comisión de las ventas o la publicación de sus productos en el home de la pagina.
				       </p>

				       <h3>Modificar mis datos</h3>
				       
				       <h4>Modificar mis datos personales</h4>
					   <p>Es necesario entrar a mi perfil y solamente cambiar los datos que queremos actualizar, ya sea los datos de domicilio, contraseña o e-mail.
					   </p>

		   </div>
		   <!-- Add fancyBox main JS and CSS files -->
		<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
		<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
           </div>
		   <div class="clear"></div>	
		  </div>
	</div>	
   </div> 