       <div class="login">
          <div class="wrap">
				<ul class="breadcrumb breadcrumb__t"><%= link_to "Home", root_path, {:style => 'background:#f7f7f7'} %>  / Términos y Condiciones</ul>

				    <div class="cont span_2_of_about">
				       <h3>Términos y Condiciones</h3>
				       <br>
				       <h3>Inscripción</h3>
				       <p>
				       	Para poder utilizar los servicios que brinda Smarket es obligatorio que todos los campos del formulario de inscripción cuenten con datos válidos. El futuro Usuario debe verificar que la información personal que pone a disposición de Smarket a fin de registrarse en el Sitio sea exacta, precisa y verdadera ("Datos Personales") y asume el compromiso de actualizar los Datos Personales conforme resulte necesario. Smarket podrá utilizar diversos medios para identificar a sus Usuarios, pero Smarket NO se responsabiliza por la certeza de los Datos Personales que sus Usuarios ponen a su disposición. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de los Datos Personales puestos a disposición de Smarket.
						A su exclusiva discreción, Smarket podrá requerir una inscripción adicional a los Usuarios que operen como concesionarias o inmobiliarias, como requisito para que dichos Usuarios accedan a paquetes especiales de publicaciones. En estos casos, una vez efectuada la inscripción adicional, las ofertas de venta de automóviles o inmuebles que realicen las concesionarias o inmobiliarias, respectivamente, sólo se publicarán en Smarket a través de alguno de dichos paquetes o bajo las modalidades que Smarket habilite para este tipo de Usuarios.
						Smarket se reserva el derecho de solicitar algún comprobante y/o dato adicional a efectos de corroborar los Datos Personales, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados. En estos casos de inhabilitación, se dará de baja todos los artículos publicados, así como las ofertas realizadas, sin que ello genere algún derecho a resarcimiento.
						El Usuario accederá a su cuenta personal ("Cuenta") mediante el ingreso de su Seudónimo o de un correo electrónico a su elección, y de la clave de seguridad personal elegida ("Clave de Seguridad"). El Usuario se obliga a mantener la confidencialidad de su Clave de Seguridad. La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario inscriba o posea más de una Cuenta. En caso que Smarket detecte distintas Cuentas que contengan datos coincidentes o relacionados, podrá cancelar, suspender o inhabilitarlas.
						El Usuario será responsable por todas las operaciones efectuadas en su Cuenta, pues el acceso a la misma está restringido al ingreso y uso de su Clave de Seguridad, de conocimiento exclusivo del Usuario. El Usuario se compromete a notificar a Smarket en forma inmediata y por medio idóneo y fehaciente, cualquier uso no autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma. Se aclara que está prohibida la venta, cesión o transferencia de la Cuenta bajo ningún título.
						Smarket se reserva el derecho de rechazar cualquier solicitud de inscripción o de cancelar una inscripción previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o resarcimiento.
				       </p>
				       <br>
				       <h3>Listado de bienes</h3>
				       <p>
				       	<b>Publicación de bienes y/o servicios.</b> El Usuario deberá ofrecer a la venta, los bienes y/o servicios en las categorías y subcategorías apropiadas. Las publicaciones podrán incluir textos descriptivos, gráficos, fotografías y otros contenidos y condiciones pertinentes para la venta del bien o la contratación del servicio, siempre que no violen ninguna disposición de este acuerdo o demás políticas de Smarket. El producto ofrecido por el Usuario Vendedor debe ser exactamente descrito en cuanto a sus condiciones y características relevantes. Se entiende y presume que mediante la inclusión del bien o servicio en Smarket, el Usuario acepta que tiene la intención y el derecho de vender el bien por él ofrecido, o está facultado para ello por su titular y lo tiene disponible para su entrega inmediata. Se establece que los precios de los productos publicados deberán ser expresados con IVA incluido cuando corresponda la aplicación del mismo, y en moneda del curso legal. Smarket podrá remover cualquier publicación cuyo precio no sea expresado de esta forma para evitar confusiones o malos entendidos en cuanto al precio final del producto. Se deja expresamente establecido que ninguna descripción podrá contener datos personales o de contacto, tales como, y sin limitarse a, números telefónicos, dirección de e-mail, dirección postal, direcciones de páginas de Internet que contengan datos como los mencionados anteriormente, salvo lo estipulado específicamente para las categorías: Autos, motos y otros. No podrá publicitarse otros medios de pagos, distintos de los enunciados por Smarket en la página de publicación de artículos. En caso que se infrinja cualquiera de las disposiciones establecidas en esta cláusula, Smarket podrá editar el espacio, solicitar al Usuario que lo edite, o dar de baja la publicación donde se encuentre la infracción y en ningún caso se devolverán o bonificarán los cargos de publicación.
						<br><br>
						Inclusión de imágenes y fotografías. El usuario puede incluir imágenes y fotografías del producto ofrecido siempre que las mismas se correspondan con el artículo, salvo que se trate de bienes o productos o de servicios que por su naturaleza no permiten esa correspondencia.
						Smarket podrá impedir la publicación de la fotografía, e incluso del producto, si interpretara, a su exclusivo criterio, que la imagen no cumple con los presentes Términos y Condiciones. 
				       </p>
				       <br>
				       <h3>Obligaciones de los usuarios</h3>
					  	<p>
					  		Obligaciones del Comprador. Durante el plazo fijado por el Usuario Vendedor, los Usuarios interesados realizarán ofertas de compra para los bienes. La oferta de venta se cierra una vez que vence el plazo o se acaban las cantidades estipuladas por el Vendedor.

							El Comprador está obligado a intentar comunicarse con el vendedor y completar la operación si ha realizado una oferta por un artículo publicado bajo la modalidad de "compra inmediata" o si realizó la oferta más alta, en los casos en que esta modalidad esté permitida, salvo que la operación esté prohibida por la ley o los Términos y Condiciones Generales y demás políticas de Smarket, en cuyo caso no estará obligado a concretar la operación.

							Al ofertar por un artículo el Usuario acepta quedar obligado por las condiciones de venta incluidas en la descripción del artículo en la medida en que las mismas no infrinjan las leyes o los Términos y Condiciones Generales y demás políticas de Smarket. La oferta de compra es irrevocable salvo en circunstancias excepcionales, tales como que el vendedor cambie sustancialmente la descripción del artículo después de realizada alguna oferta, que exista un claro error tipográfico, o que no pueda verificar la identidad del vendedor.

							Las ofertas de compra sólo serán consideradas válidas, una vez que hayan sido procesadas por el sistema informático de Smarket.

							Impuestos. Tal como lo establece la normativa fiscal vigente, el comprador debe exigir boleta o factura al vendedor como comprobante de la operación. El vendedor no estará obligado a emitir boleta o factura sólo en el caso de tratarse de una persona física que efectúa ventas ocasionalmente.
							<br><br>
							Obligaciones del Vendedor. El Usuario Vendedor debe tener capacidad legal para vender el bien objeto de su oferta.

							Si el Usuario Vendedor ha recibido al menos una oferta sobre el precio mínimo que estableció, queda obligado a intentar comunicarse con el comprador y completar la operación con el Usuario que haya realizado la oferta más alta o la que alcance el precio establecido en la modalidad Compra Inmediata. Solamente en casos excepcionales el Vendedor podrá retractarse de la venta, tales como cuando no haya podido acordar con el Usuario Comprador sobre la forma de pago, de entrega o no sea posible verificar la verdadera identidad o demás información del Comprador.

							Dado que Smarket es un punto de encuentro entre comprador y vendedor y no participa de las operaciones que se realizan entre ellos, el Vendedor será responsable por todas las obligaciones y cargas impositivas que correspondan por la venta de sus artículos, sin que pudiera imputársele a Smarket algún tipo de responsabilidad por incumplimientos en tal sentido.

							Impuestos. Como se menciona anteriormente, Smarket sólo pone a disposición de los Usuarios un espacio virtual que les permite comunicarse mediante Internet para encontrar una forma de vender o comprar artículos. Smarket no tiene participación alguna en el proceso de negociación y perfeccionamiento del contrato definitivo entre las partes. Por eso, Smarket no es responsable por el efectivo cumplimiento de las obligaciones fiscales o impositivas establecidas por la ley vigente.
					  	</p>
					  	<br>
					  	<h3>Tarifas - Facturación</h3>
					  	<p>
					  		La inscripción en Smarket es gratuita. Al publicar bienes para la venta, el usuario deberá pagar un cargo de publicación, cuyo costo varia conforme la exposición del anuncio en el Sitio Web, y solamente pagará una comisión por venta a Smarket cuando la operación se concrete o cuando no califique la operación en el plazo correspondiente.
							Por la utilización de los Servicios, el Usuario Vendedor deberá pagar una tarifa ("Tarifa") a Smarket cuando una operación se concrete o en los casos establecidos en la sección Tarifas y Facturación.

							El Usuario se obliga a abonar a Smarket la Tarifa, los cargos por publicación de artículos, o por cualquier otro servicio prestado por Smarket por el cual haya establecida una tarifa vigente.

							Smarket se reserva el derecho de modificar, cambiar, agregar, o eliminar las tarifas vigentes, en cualquier momento, lo cual será notificado a los Usuarios. Sin embargo, Smarket podrá modificar temporalmente la Política de Tarifas y las tarifas por sus servicios por razón de promociones, siendo efectivas estas modificaciones cuando se haga pública la promoción o se realice el anuncio.

							Smarket se reserva el derecho de tomar las medidas judiciales y extrajudiciales que estime pertinentes para obtener el pago del monto debido.

							En caso de haberse facturado cargos que no hubiesen correspondido, el Usuario deberá comunicarse con nuestro equipo de Atención al Cliente para resolver dicha cuestión. Cualquier duda consulta nuestras Políticas de facturación.
					  	</p>
				        
							
		   </div>
		   <!-- Add fancyBox main JS and CSS files -->
		<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
		<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
           </div>
		   <div class="clear"></div>	
		  </div>
	</div>	
   </div> 