<% if spree_current_user %>
  <li>
    <%= link_to t(:salir), spree.logout_path, :method => :delete %>
  </li>
<% else %>
  <li>
    <%= link_to t(:entrar), spree.login_path %>
  </li>
  <li>
    <%= link_to t(:registrarse), spree.signup_path %>
  </li>
<% end %>